@page "/button"

<p>
    <h1>Button</h1>
</p>
<p>
    <h2>Click function</h2>
</p>
<p>
    <div>
        <div>
            <BcButton @onclick="@(async () => await ChangeTitle("First").ConfigureAwait(false))">First</BcButton>
            <BcButton @onclick="@(async () => await ChangeTitle("Second").ConfigureAwait(false))">Second</BcButton>
            <BcButton @onclick="@(async () => await ChangeTitle("Third").ConfigureAwait(false))">Third</BcButton>
        </div>
        <div>
            <BcButton>
                @_title
            </BcButton>
        </div>
    </div>
</p>
<p>
    <h2>Primary buttons</h2>
</p>
<p>
    <BcButton Size="@Size.Default" Kind="@Kind.Primary" State="@State.Enabled">Primary Button 1</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Primary" State="@State.Enabled">Primary Button 2</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Primary" State="@State.Enabled">Primary Button 3</BcButton>

    <BcButton Size="@Size.Default" Kind="@Kind.Primary" State="@State.Disabled">Primary Button 4</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Primary" State="@State.Disabled">Primary Button 5</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Primary" State="@State.Disabled">Primary Button 6</BcButton>
</p>
<p>
    <h2>Secondary buttons</h2>
</p>
<p>
    <BcButton Size="@Size.Default" Kind="@Kind.Secondary" State="@State.Enabled">Primary Button 1</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Secondary" State="@State.Enabled">Primary Button 2</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Secondary" State="@State.Enabled">Primary Button 3</BcButton>

    <BcButton Size="@Size.Default" Kind="@Kind.Secondary" State="@State.Disabled">Primary Button 4</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Secondary" State="@State.Disabled">Primary Button 5</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Secondary" State="@State.Disabled">Primary Button 6</BcButton>
</p>
<p>
    <h2>Tertiary buttons</h2>
</p>
<p>
    <BcButton Size="@Size.Default" Kind="@Kind.Tertiary" State="@State.Enabled">Primary Button 1</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Tertiary" State="@State.Enabled">Primary Button 2</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Tertiary" State="@State.Enabled">Primary Button 3</BcButton>

    <BcButton Size="@Size.Default" Kind="@Kind.Tertiary" State="@State.Disabled">Primary Button 4</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Tertiary" State="@State.Disabled">Primary Button 5</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Tertiary" State="@State.Disabled">Primary Button 6</BcButton>
</p>
<p>
    <h2>Danger buttons</h2>
</p>
<p>
    <BcButton Size="@Size.Default" Kind="@Kind.Danger" State="@State.Enabled">Primary Button 1</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Danger" State="@State.Enabled">Primary Button 2</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Danger" State="@State.Enabled">Primary Button 3</BcButton>

    <BcButton Size="@Size.Default" Kind="@Kind.Danger" State="@State.Disabled">Primary Button 4</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Danger" State="@State.Disabled">Primary Button 5</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Danger" State="@State.Disabled">Primary Button 6</BcButton>
</p>
<p>
    <h2>Ghost buttons</h2>
</p>
<p>
    <BcButton Size="@Size.Default" Kind="@Kind.Ghost" State="@State.Enabled">Primary Button 1</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Ghost" State="@State.Enabled">Primary Button 2</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Ghost" State="@State.Enabled">Primary Button 3</BcButton>

    <BcButton Size="@Size.Default" Kind="@Kind.Ghost" State="@State.Disabled">Primary Button 4</BcButton>
    <BcButton Size="@Size.Field" Kind="@Kind.Ghost" State="@State.Disabled">Primary Button 5</BcButton>
    <BcButton Size="@Size.Small" Kind="@Kind.Ghost" State="@State.Disabled">Primary Button 6</BcButton>
</p>

@code
{
    private string _title = "Default title";

    private async Task ChangeTitle(string title)
    {
        _title = title;
    }
}