@page "/button"

<p>
    <h1>Button</h1>
</p>
<p>
    <div>
        <div>
            <BcButton @onclick="@(async () => await ChangeTitle("First").ConfigureAwait(false))">First</BcButton>
            <BcButton @onclick="@(async () => await ChangeTitle("Second").ConfigureAwait(false))">Second</BcButton>
            <BcButton @onclick="@(async () => await ChangeTitle("Third").ConfigureAwait(false))">Third</BcButton>
        </div>
        <div>
            <BcButton @onclick="@(async () => await ChangeSize(BcButtonApi.Size.Default).ConfigureAwait(false))">
                @BcButtonApi.Size.Default
            </BcButton>
            <BcButton @onclick="@(async () => await ChangeSize(BcButtonApi.Size.Field).ConfigureAwait(false))">
                @BcButtonApi.Size.Field
            </BcButton>
            <BcButton @onclick="@(async () => await ChangeSize(BcButtonApi.Size.Small).ConfigureAwait(false))">
                @BcButtonApi.Size.Small
            </BcButton>
        </div>
        <div>
            <BcButton @onclick="@(async () => await ToKind(BcButtonApi.Kind.Primary).ConfigureAwait(false))">
                @BcButtonApi.Kind.Primary
            </BcButton>
            <BcButton @onclick="@(async () => await ToKind(BcButtonApi.Kind.Secondary).ConfigureAwait(false))">
                @BcButtonApi.Kind.Secondary
            </BcButton>
            <BcButton @onclick="@(async () => await ToKind(BcButtonApi.Kind.Tertiary).ConfigureAwait(false))">
                @BcButtonApi.Kind.Tertiary
            </BcButton>
            <BcButton @onclick="@(async () => await ToKind(BcButtonApi.Kind.Danger).ConfigureAwait(false))">
                @BcButtonApi.Kind.Danger
            </BcButton>
            <BcButton @onclick="@(async () => await ToKind(BcButtonApi.Kind.Ghost).ConfigureAwait(false))">
                @BcButtonApi.Kind.Ghost
            </BcButton>
        </div>
        <div>
            <BcButton @onclick="@(async () => await ToState(false).ConfigureAwait(false))">Enabled</BcButton>
            <BcButton @onclick="@(async () => await ToState(true).ConfigureAwait(false))">Disabled</BcButton>
        </div>
        <div>
            <div>
                <BcButton Size="@_size" Kind="@_kind" IsDisabled="@_isDisabled">
                    @_title
                </BcButton>
            </div>
        </div>
        <div>
            <BcButton Kind="@BcButtonApi.Kind.Primary">
                using BcButtonApi
            </BcButton>
        </div>
    </div>
</p>

@code
{
    private string _title = "Default title";
    private string _size = BcButtonApi.Size.Default;
    private string _kind = BcButtonApi.Kind.Primary;
    private bool _isDisabled = false;

    private async Task ToState(bool state)
    {
        _isDisabled = state;
    }

    private async Task ToKind(string kind)
    {
        _kind = kind;
    }

    private async Task ChangeTitle(string title)
    {
        _title = title;
    }

    private async Task ChangeSize(string size)
    {
        _size = size;
    }
}